/*---GLOBAL---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #faf0e6;
  font-family: "Libre Franklin", sans-serif;
  min-width: 600px;
}

/*---HEADER---*/
header {
  background: #ffa07a;
  padding: 20px 0 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  padding: 0 20px 0 0;
  font-weight: 800;
  font-size: 400%;
}

header img {
  height: 100px;
  width: 100px;
}

/*RESULT SCORE*/

.result-score p {
  /* background: rgba(149, 175, 214, 0.5); */
  padding: 30px 30px 30px;
  text-align: center;
  margin: 10px 5px 0 5px;
  border-radius: 5px;
  border: #ffa07a 2px solid;
  font-size: 120%;
}

.result-score-message-correct {
  background: rgba(149, 214, 158, 0.5);
  padding: 30px 30px 30px;
  text-align: center;
  margin: 10px 5px 0 5px;
  border-radius: 5px;
  border: rgb(0, 107, 48) 2px solid;
  font-size: 120%;
}

.result-score-message-error {
  background: rgba(214, 156, 149, 0.5);
  padding: 30px 30px 30px;
  text-align: center;
  margin: 10px 5px 0 5px;
  border-radius: 5px;
  border: rgb(151, 15, 15) 2px solid;
  font-size: 120%;
}

.result-score-message-warning {
  background: rgba(214, 213, 149, 0.5);
  padding: 30px 30px 30px;
  text-align: center;
  margin: 10px 5px 0 5px;
  border-radius: 5px;
  border: rgb(255, 218, 7) 2px solid;
  font-size: 120%;
}

/*PORCENT SCORE*/
.display {
  display: none;
}

.porcent-score p {
  background-color: rgba(149, 175, 214, 0.5);
}

/*---SUBTITLE---*/
.container-form-quiz h2 {
  margin: 20px 0 10px 40px;
  font-size: 160%;
}

/*---FORM---*/
.container-form-quiz {
  margin: 40px 40px 40px 40px;
  border: 2px solid;
  border-radius: 0.5rem;
  border-color: #ffa07a;
  background: #ffebcd;
}

.form-quiz {
  /* margin-left: 50px;
  margin-right: 150px; */
  padding: 10px;
}

.form-quiz p {
  padding: 15px;
  font-weight: 600;
  font-size: 120%;
}

.form-quiz label {
  padding: 5px;
  margin-left: 25px;
  display: block;
}

.question {
  padding: 15px;
  margin-left: 50px;
}

.question input {
  height: 16px;
  margin: 0 0.25em 0 0;
  padding: 5px;
  vertical-align: bottom;
  width: 16px;
  border-radius: 4px;
}

/*---BUTTON---*/
button {
  margin-top: 20px;
  height: 60px;
  width: 230px;
  font-size: 120%;
  font-weight: 600;
  background: #ffa07a;
  border: 1px;
  border-radius: 10px;
}

button:hover {
  background: #c75f36;
  color: #faf0e6;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*PARAGRAPH SCORE*/
